<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="master :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Categories Create</h1>
    <div class="container">
        <div   class="col-md-6 offset-md-3">
            <form  method="post">
                <div class="form-group">
                    <label for="category">Category Name</label>
                    <input type="text" class="form-control" id="category" name="category" >
                </div>


                <button type="submit" class="btn btn-primary float-right">Create</button>
            </form>
        </div>
    </div>
<div th:replace="master :: footer"></div>
</body>
</html>